<?xml version="1.0" encoding="UTF-8"?>

  <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd"> 
  
  
 <beans> 
<bean id="rcb" class="com.Student"  >
 <constructor-arg >
 <value>420</value>
 </constructor-arg>
  <constructor-arg >
  <value>Vijay</value>
 </constructor-arg>
 
 
 
  
 </bean>
 </beans>